.buisnesshrs {
  padding: 5px 120px 20px 120px;
}
.buisnesshrs_icon {
  width: max-content;
  height: max-content;
  padding: 10px 12px;
  border-radius: 50%;
  transition: ease-in-out 0.5s;
  border: 2px dotted white;
}
.buisness_main {
  width: 100%;
  display: flex;
  gap: 125px;
}
.buisness_hour_img {
  width: 50%;
}
.buisnesshrs_icon svg {
  stroke: white;
}
.buisnesshrs_icon:hover {
  background-color: white;
  border: 2px dotted #0db3b1;
}
.buisnesshrs_icon:hover svg {
  color: #0db3b1;
  stroke: #0db3b1;
}
.Buisness_hours_title {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}
.buisness_container {
  margin-top: 4rem;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.buisness_box {
  display: flex;
  gap: 10px;
  width: 250px;
  background: white;
  height: max-content;
  padding: 15px;
  border: 2px dotted #0db3b1;
  border-radius: 61px;
  transition: all 0.3s ease-in-out;
  cursor: grab;
}
.buisness_box:hover {
  background-color: #0db3b1;

  border: 2px dotted white;
}
.buisness_box:hover .buisness_detail p {
  color: white;
}
.buisness_box:hover .buisnesshrs_icon {
  background-color: #ffffff;
  border: 2px dotted #0db3b1;
}
.buisness_box:hover .buisnesshrs_icon svg {
  stroke: #0db3b1;
}
.buisness_box p {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  flex-direction: column;
}
.buisnesshrs_icon svg {
  fill: "white";
}
.buisness_detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.buisness_detail p {
  font-size: 16px;
  color: black;
  margin: 0;
}
.buisness_day {
  font-weight: 600;
}
@media (max-width: 1280px) {
  .buisnesshrs {
    padding: 40px;
  }
  .buisness_main {
    gap: 110px;
  }
  .buisness_hour_img {
    width: 40%;
  }
  .buisness_box {
    width: 190px;
    gap: 10px;
  }
  .buisness_detail {
    justify-content: center;
  }
  .buisness_detail p {
    font-size: 13px;
  }
  .buisness_container {
    gap: 20px;
  }
  .buisness_day {
    font-size: 13px;
  }
}
@media (max-width: 1080px) {
  .buisness_main {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .buisness_container {
    gap: 10px;
  }
  .buisness_hour_img img {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .buisness_container {
    justify-content: center;
  }
  .Buisness_hours_title {
    font-size: 36px;
    text-align: center;
  }
  .buisness_hour_img {
    width: 100%;
  }
  .buisness_hour_img img {
    width: 310px;
    height: 340px;
  }
}
