@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
   
    --color-background: #f9eada;
    --color-primary: #ECB176;
    --color-secondary:#A67b5b;
    --color-ternary:#6f4e37;
    --color-text-primary:#fff;
    --color-text-secondary:#000;     
  }
